/* mobilefirst */
/* Universal Selector Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

#wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#wrapper .header__logo {
    width: 270px;
    margin: 40px auto 35px;
}

#wrapper .header__logo a {
    text-decoration: none;
}

#wrapper .logo__image {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

#wrapper .gnavi {
    display: none;
    margin-bottom: 0;
}

/* mediaquery  */
@media screen and (min-width:992px) {
    /* 画面サイズが992pxからはここを読み込む */

    /* header__logo */

    #wrapper .header__logo {
        margin: 30px auto 40px;
    }

    /* gnavi */

    #wrapper .gnavi {
        display: block;
        clear: both;
        text-align: center;
    }

    #wrapper .gnavi ul {
        display: inline;
        border-left: 1px solid #999;
    }

    #wrapper .gnavi ul li {
        display: inline;
        padding-right: 20px;
        padding-left: 20px;
        border-right: 1px solid #999;
    }

    #wrapper .gnavi ul a {
        font-size: 17px;
        text-decoration: none;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: #999;
    }

    #wrapper .gnavi li.current a {
        color: #28d5a4;
    }
}