* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

/* header__logo */

#wrapper {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1000px;
}

#wrapper .header__logo {
    margin: 30px auto 40px;
    width: 270px;
}

#wrapper .header__logo a {
    text-decoration: none;
}

#wrapper .logo__image {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* gnavi */

#wrapper .gnavi {
    clear: both;
    text-align: center;
}

#wrapper .gnavi ul {
    display: inline;
    border-left: 1px solid #999;
}

#wrapper .gnavi ul li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #999;
}

#wrapper .gnavi ul a {
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 17px;
}

#wrapper .gnavi li.current a {
    color: #28d5a4;
}
